.container{
	width: 680px;
	font-family: Tahoma;
	margin:10px auto;
}
.container .header{
	border-top: 0.5px dotted #A55D38;
	margin-top: 8px;
	margin-left: 8px;
	width:680px;
}
.container .header ul{
	width:680px;
	padding-left: 32px;
	list-style-image: url('images/bullet1.gif');
}
.container .header ul li{
	padding-top: 10px;
}
.container .header ul li .logo{}
.container .header ul li h1{
	font-size: 18px;
	color: #9e4f3e;
}
.container .flower {
	width:675px;
}
.container .flower ul{
	width: 675px;
	margin-left: 8px;
}
.container .flower ul li{
	width: 675px;
	margin: 20px 0px;
}
.container .flower ul li .left{
	width: 125px;
	float: left;
}
.container .flower ul li .left h3{
	margin-bottom:10px;
}
.container .flower ul li .left h3 a{
	text-decoration: none;
	font-size: 15px;
	color:#d8141d;
	
}
.container .flower ul li .left a img{
	width: 120px;
	height: 80px;
	padding: 2px;
	border: 1px solid gray;
	border-radius: 5px;
}
.container .flower ul li .right{
	width: 540px;
	float: right;
}
.container .flower ul li .right .description{
	font-size:15px;
	margin-top:25px;
}
.container .flower ul li .right .more{
	font-size: 15px;	
	margin: 20px 0px;
	color: #C3333C
}
.container .flower ul li .right .more .rate{
	font-weight: bold;
}
.clr{
	border-bottom: 0.5px dotted #A55D38;
	padding-top: 10px;
	clear: both;
}

