.body{
	border: 0.5px solid #DCDCDC;
	border-top: none;
	width: 320px;
	height: 550px;
	border-bottom-right-radius:8px;
}
.box1, .box2{
	background-color: #DCDCDC;
	font-size: 15px;
	font-family: Tahoma;
}
.box1{
	padding: 10px;
}
.box2{
	padding: 10px;
}
.box3 ul {
            list-style-image: url("images/dot.png");
            text-align: left;
			font-size: 13px;
			font-family: Tahoma;
        }